*.class

# Package Files #
*.war
*.ear
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Intellij
*.idea
*.iml
out/
build/

# MacOS
.DS_Store

# Gradle
.gradle
**/build/
!src/**/build/

# Shadow-Mapper settings
settings.ini
installs.ini
